<p>
  Our products
</p>
<div class="classcard">
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Buffet</mat-card-title>
    <!-- <mat-card-subtitle>promo</mat-card-subtitle> -->
  </mat-card-header>
  <img mat-card-image src="../../assets/buffet.jpg" alt="Photo of a Buffet">
  <mat-card-content>
    <p>
      confortable buffet
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    
      
      <a routerLink="/fichprod"><button mat-button mat-raised-button >more details</button></a>
  </mat-card-actions>
  
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image2"></div>
    <mat-card-title>chaise</mat-card-title>
    </mat-card-header>
  <img mat-card-image src="../../assets/chaise.jpg" alt="Photo of a chaise">
  <mat-card-content>
    <p>
      confortable chaise
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button mat-raised-button >more details</button>
  </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image3"></div>
    <mat-card-title>Fauteuil</mat-card-title>
     </mat-card-header>
  <img mat-card-image src="../../assets/FAUTEUIL.jpg" alt="Photo of a FAUTEUIL">
  <mat-card-content>
    <p>
      confortable Fauteuil
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>more details</button>
  </mat-card-actions>
</mat-card>
</div>